@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);
        visibility: visible;
    }
    100% {
        transform: translateY(0);
        visibility: visible;
    }
}

@keyframes slideOutToTop {
    0% {
        transform: translateY(0%);
        visibility: visible;
    }
    100% {
        transform: translateY(-100%);
        visibility: visible;
    }
}

.custom-nav-link-white {
    color: #dfe3e8;
    font-family: Poppins, sans-serif;
    font-size: 24px;
}

.custom-nav-link-black {
    color: #0b1d24;
    font-family: Poppins, sans-serif;
    font-size: 24px;
}

.navbar-custom {
    background-color: rgba(255, 255, 255, 0);
    padding-left: 50vh;
}

.navbar-mobile {
    background-color: rgba(255, 255, 255, 0);
}

.custom-toggler {
    color: #b5c6dd;
}

.fade-enter,
.fade-appear {
    opacity: 1;
}

.fade-enter-active,
.fade-appear-active {
    opacity: 1;
    animation: 0.5s ease-out 0s 1 forwards slideInFromTop; /*duration, animation behavior, delay, times to play, name*/
}

.fade-leave {
    opacity: 1;
}

.fade-exit {
    opacity: 1;
}

.fade-exit-active {
    opacity: 1;
    transition: visibility 0s 1 opacity 1s linear;
}
