@charset "UTF-8";

.interest-item {
    margin: 4vh auto;
    height: 21vh;
    width: 60vw;
    background-color: #0b1d24;
    border: 4px solid #f5cc7c;
    border-radius: 50px;
    color: #dfe3e8;
}

.interest-item-image {
    position: absolute;
    height: 100%;
    //top: 50%;
    //transform: translateY(-50%);
    border: 4px solid #dfe3e8;
    border-radius: 50px;
    z-index: 1;
}

.interest-item-title {
    font-family: Poppins, sans-serif;
    font-size: 22px;
    font-weight: 500;
}

.interest-item-text {
    font-family: Josefin Sans, sans-serif;
    font-size: 18px;
}

// .interest-item {
//   cursor: pointer;
//   position: relative;
//   display: block;
//   max-width: 25rem;
//   border-radius: 0.5rem;
//   overflow: hidden;
// }
// .interest-item .interest-item-caption {
//   position: absolute;
//   top: 0;
//   left: 0;
//   transition: all 0.4s ease-in-out;
//   opacity: 0;
//   background-color: black;
// }

// .interest-item-caption {
//   padding: 10px;
// }

// .interest-item .interest-item-caption:hover {
//   opacity: 0.8;
// }

// .interest-item .interest-item-caption .interest-item-caption-content {
//   font-size: 1.5rem;
// }

// .interest-title {
//   margin-top: 20px;
//   display: block;
// }
