@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family-Poppins:400,500,700");

body {
  padding: 0;
  margin: 0;
  font-family: Poppins, sans-serif;
  color: #dfe3e8;
  background-image: linear-gradient(to bottom, #828f98f7, #828f98f7),
    url("../images/background/dark_background.jpg");
}

.p-indent {
  text-indent: 30px;
}

.title {
  font-weight: 500;
  font-size: 3em;
  padding: 20px;
  display: block;
}

.landing-wrapper {
  padding-top: 6rem;
  padding-bottom: calc(6rem + 74px);
  display: flex;
  align-items: center;
  height: 90vh;
  background-image: linear-gradient(to bottom, #828f98f7, #132d48f7),
    url("../images/background/dark_background.jpg");
}

.about-wrapper {
  padding-bottom: 30px;
  background-image: linear-gradient(to bottom, #132d48f7, #a6afbaf7),
    url("../images/background/dark_background.jpg");
}

.about-image {
  position: relative;
  display: block;
  max-width: 100%;
  object-fit: cover;
  border-radius: 1rem;
  border: 3px solid #021a40;
  overflow: hidden;
  background-color: rgba(26, 188, 156, 0.9);
  margin: 20px auto;
}

.about-text {
  max-width: 100%;
  max-height: 100%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.timeline-wrapper {
  padding-bottom: 30px;
  color: #132d48;
  background-image: linear-gradient(to bottom, #a6afbaf5, #dfe3e8f5),
    url("../images/background/dark_background.jpg");
}

.interests-wrapper {
  background-image: linear-gradient(to bottom, #dfe3e8f7, #2a425cf7),
    url("../images/background/dark_background.jpg");
  padding-bottom: 30px;
}

.contact-wrapper {
  background-image: linear-gradient(to bottom, #2e455ef7, #112a47f7),
    url("../images/background/dark_background.jpg");
  padding-bottom: 30px;
}
