@charset "UTF-8";

body {
    padding: 0;
    margin: 0;
    font-family: Poppins, sans-serif;
    color: #dfe3e8;
    background-image: linear-gradient(to bottom, #263f5df7 #263f5df7),
        url("../images/background/dark_background.jpg");
    background-color: #263f5d;
}

html {
    scroll-behavior: smooth;
}

.p-indent {
    text-indent: 30px;
}

.title {
    font-weight: 500;
    font-size: 3em;
    padding: 20px;
    display: block;
}

.landing-wrapper {
    padding-top: 6rem;
    padding-bottom: calc(6rem + 74px);
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100vw;
    border: 0px;
    background-image: linear-gradient(to bottom, #263f5df7 10%, #163355f7 90%),
        url("../images/background/dark_background.jpg");
    .text-name {
        padding-left: 10vw;
        font-size: calc(38px + (68 - 38) * ((100vw - 600px) / (1600 - 600)));
        padding-bottom: 5vh;
    }

    .text-title {
        padding-left: 10vw;
        font-size: calc(32px + (56 - 32) * ((100vw - 600px) / (1600 - 600)));
    }
}

@media screen and (min-width: 600px) {
    // this css will only be used when the screen size is min 800px
    .about-wrapper {
        .image {
            left: 30px;
        }
    }
}

.about-wrapper {
    border: 0px;
    background-image: linear-gradient(to bottom, #163355f7, #a6afbaf7),
        url("../images/background/dark_background.jpg");
    padding-bottom: 12rem;
    .title-wrapper {
        display: block; /* Make the links appear below each other instead of side-by-side */
        text-align: center;
        margin-bottom: 2rem;
        margin-top: 4rem;
        .title {
            font-size: calc(
                36px + (66 - 36) * ((100vw - 600px) / (1600 - 600))
            );
        }
        .title-line {
            width: calc(67px + (127 - 67) * ((100vw - 600px) / (1600 - 600)));
        }
    }
    .image {
        position: relative;
        display: block;
        max-width: 70%;
        object-fit: cover;
        border-radius: 1rem;
        border: 3px solid #dfe3e8;
        overflow: hidden;
        margin: 20px auto;
    }

    .text {
        position: relative;
        margin: 8vh auto;
        max-width: 100%;
        max-height: 100%;
        position: relative;
        height: 45vh;
        font-family: Josefin Sans, sans-serif;
        font-size: calc(18px + (20 - 18) * ((100vw - 600px) / (1600 - 600)));
        line-height: normal;
        .btn-resume {
            background: #f5cc7c;
            color: #0b1d24;
            border: 3px solid #dfe3e8;
            border-radius: 40px;
            padding: 5px 25px;
            font-family: Poppins, sans-serif;
            font-size: calc(
                18px + (20 - 18) * ((100vw - 600px) / (1600 - 600))
            );

            margin-top: 25px;
            &:hover {
                opacity: 0.7;
                transition: all 0.3s ease;
            }
        }
    }
}

@media all and(max-width:480px) {
    .about-wrapper {
        .text {
            text-align: center !important;
        }
    }
}

.timeline-wrapper {
    padding-bottom: 30px;
    height: calc(110vh + (100vh - 110vh) * ((100vw - 600px) / (1600 - 600)));
    border: 0px;
    color: #0b1d24;
    background-image: linear-gradient(to bottom, #a6afbaf5, #dfe3e8f5),
        url("../images/background/dark_background.jpg");
    .title-wrapper {
        display: block; /* Make the links appear below each other instead of side-by-side */
        text-align: center;
        margin-top: 10vh;
        .title {
            font-size: calc(
                36px + (66 - 36) * ((100vw - 600px) / (1600 - 600))
            );
        }
        .title-line {
            width: calc(67px + (127 - 67) * ((100vw - 600px) / (1600 - 600)));
        }
    }
}

.interests-wrapper {
    background-image: linear-gradient(to bottom, #dfe3e8f7, #2a425cf7),
        url("../images/background/dark_background.jpg");
    padding-bottom: 30px;
    border: 0px;
    color: #0b1d24;
    .title-wrapper {
        display: block; /* Make the links appear below each other instead of side-by-side */
        text-align: center;
        margin-top: 10vh;
        .title {
            font-size: calc(
                36px + (66 - 36) * ((100vw - 600px) / (1600 - 600))
            ); //36 is mobile, 66 is desktop
        }
        .title-line {
            width: calc(67px + (127 - 67) * ((100vw - 600px) / (1600 - 600)));
        }
    }
}

.contact-wrapper {
    background-image: linear-gradient(to bottom, #2a425cf7, #193b62f7),
        url("../images/background/dark_background.jpg");
    padding-bottom: 30px;
    border: 0px;
    height: 100vh;
    position: relative;
}
