@charset "UTF-8";

.custom-nav {
  outline: 1px solid white;
  background: none;
}

.custom-nav-link {
  color: white;
}

body {
  background-color: #8ad7f5;
}

header h1 {
  margin: 0;
}

html,
body {
  margin: 0;
}
